node_modules
dist
build
.next
.nuxt
.vscode
.idea
*.log
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage
.nyc_output
.cache
.temp
.tmp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
